---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Hard Fork">
  <svg width="634" height="1007" viewBox="0 0 634 1007" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path opacity="0.1" d="M125.058 774.197C124.043 792.144 124.007 779.979 125.058 801V774.197ZM125.058 774.197V320.217M125.058 774.197C143.844 442.147 497.991 607.277 509.792 199.245M509.792 199.245C564.595 198.99 608.942 154.486 608.942 99.6232C608.942 44.6028 564.339 0 509.319 0C454.299 0 409.696 44.6028 409.696 99.6232C409.696 154.644 454.299 199.246 509.319 199.246C509.477 199.246 509.635 199.246 509.792 199.245ZM224.681 882.377C224.681 937.397 180.078 982 125.058 982C70.0376 982 25.4348 937.397 25.4348 882.377C25.4348 827.356 70.0376 782.754 125.058 782.754C180.078 782.754 224.681 827.356 224.681 882.377Z" stroke="black" stroke-width="50" stroke-linecap="round"/>
  </svg>
  <main>
    <section>
      <div style="padding: 1rem;border: 3px solid #F3D768;border-radius: 6px;background: #FFDC00;width: 75%;text-align: center;display: inline;"><p style="font-size: 16px;max-width: unset;text-align: center;">🚧 This website is currently under construction 🚧</p></div>
      <h1>Hard Fork</h1>
      <h2>A democratic community for<br />creative technologists</h2>
      <p>
        We are a group of nerds that got frustrated with existing undemocratic,
        unfair, and unresponsive organizations for our community.
        <br />So we built our own — Welcome to Hard Fork.
      </p>

      <a href="https://matrix.to/#/#hardfork:reeseric.ci" target="_blank" class="button">Join us!</a>

      <h3>How are we different?</h3>

      <ul>
        <li>
          <b>Non-Toxic.</b> We don’t tolerate people with Prop 65 warnings. <a href="https://codeberg.org/hardfork/bylaws#addendum-1-contributor-covenant-code-of-conduct" target="_blank">Read our Code of Conduct</a>
        </li>

        <li>
          <b>Your input matters here.</b> All members have voting rights in our organization,
          and you can have real sway in shaping our community. <a href="https://codeberg.org/hardfork/bylaws" target="_blank">Read our Bylaws</a>
        </li>

        <li>
          <b>No secrecy.</b> Members always know the full extent of our operations
          - since we’re all responsible for building this organization.
        </li>

        <li>
          <b>We create, not pitch.</b> This community is about building, organizing,
          and creating - it’s not a place to pitch your latest get-rich-quik scheme.
        </li>

        <li>
          <b>Open to youth, open to all.</b> We encourage people of all ages and
          abilities to join our organization and create with us!
        </li>
      </ul>
      <h3>Webrings</h3>
      <div style="width: fit-content; border: 2px outset; text-align:center">
        <p style="margin: 0; padding: 0.1em; border: 2px inset">This site is a member of Hard Fork.</p>
        <div style="display: flex">
          <a style="flex: 1; margin: 0; padding: 0.1em; border: 2px inset" href="https://webri.ng/webring/hardfork/previous?via=https%3A%2F%2Fhardfork.ngo">Previous Site</a>
          <a style="flex: 1; margin: 0; padding: 0.1em; border: 2px inset" href="https://webri.ng/webring/hardfork/random?via=https%3A%2F%2Fhardfork.ngo">Random Site</a>
          <a style="flex: 1; margin: 0; padding: 0.1em; border: 2px inset" href="https://webri.ng/webring/hardfork/next?via=https%3A%2F%2Fhardfork.ngo">Next Site</a>
        </div>
      </div>
      <div style="border: 2px outset; text-align:center">
        <p style="margin: 0; padding: 0.1em; border: 2px inset">CSS JOY Webring</p>
        <div style="display: flex">
          <a style="flex: 1; margin: 0; padding: 0.1em; border: 2px inset" href="https://webri.ng/webring/cssjoy/previous?via=https://hardfork.ngo">Previous Site</a>
          <a style="flex: 1; margin: 0; padding: 0.1em; border: 2px inset" href="https://webri.ng/webring/cssjoy/random?via=https://hardfork.ngo">Random Site</a>
          <a style="flex: 1; margin: 0; padding: 0.1em; border: 2px inset" href="https://webri.ng/webring/cssjoy/next?via=https://hardfork.ngo">Next Site</a>
        </div>
      </div>
    </section>
  </main>
</Layout>

<style>
  svg {
    display: absolute;
    position: fixed;
    z-index: -10;
  }

  @media (prefers-color-scheme: dark) {
    svg > path {
      stroke: #fff;
    }
  }

  @media (max-width: 611px) {
    svg {
      width: 100vw;
    }
  }

  @media (min-width: 1300px) {
    svg {
      margin-left: 3rem;
    }

    section {
      padding-right: 5rem;
    }
  }

  main {
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    flex-direction: row-reverse;
  }

  section {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 60ch;
  }

  @media(max-width: 491px) {
    section {
      margin-top: 1rem;
    }
  }

  h1 {
    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: WonderType;
    font-size: min(18cqw,6rem);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.27913rem;
  }

  h2 {
    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: "Space Grotesk";
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.09238rem;
  }

  h3 {
    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: "Space Grotesk";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 2.8125rem */
    letter-spacing: -0.01875rem;
  }

  p {
    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: "Space Grotesk";
    font-size: 1.5rem;
    max-width: 35ch;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 2.8125rem */
    letter-spacing: -0.01875rem;
  }

  ul {
    margin: 0;
    padding: 0;
    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: "Space Grotesk";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    letter-spacing: -0.0375rem;
    max-width: 35ch;
  }

  b {
    font-weight: 500;
  }

  li {
    margin-bottom: 1rem;
  }
</style>
