---
import { SEO } from "astro-seo";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Hard Fork: A democratic community for creative technologists" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="sitemap" href="/sitemap-index.xml" />
		<SEO
      title="A Very Descriptive Title"
      description="Hard Fork: A democratic community for creative technologists."
      openGraph={{
        basic: {
          title: title,
          type: "website",
          image: "/og.png",
					url: Astro.url
        }
			}}
    />
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>

	@font-face {
		font-family: "WonderType";
		src: url("WonderType-Regular.otf");
	}

	@font-face {
  	font-family: "Space Grotesk";
  	src: url("SpaceGrotesk[wght].woff2");
		font-weight: 300 700;
	}
	html {
		font-family: "Space Grotesk", system-ui, sans-serif;
		background: #fff
	}

	@media (prefers-color-scheme: dark) {
		html {
			background: #000;
		}

		*, h1, h2, h3, h4 ,h5, p, a {
			color: #fff !important;
		}

		a.button:hover {
			background: #fff !important;
			color: #000 !important;
		}

		a.button {
			background: #000 !important;
			color: #fff !important;
			border: 2px solid #fff !important;
		}

	}

	body {
		padding: 0;
		margin: 0;
	}

	h1,a,button {
		font-family: "WonderType", monospace;
	}

	a.button {
		-webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
		border: 3px solid black;
		border-radius: 1000px;
		background: none;
		padding: 0.75rem;
		min-width: 15rem;
		font-size: 1.25rem;
		cursor: pointer;
		transition: 0.2s ease-in-out;
		text-decoration: none;
		width: fit-content;
		text-align: center;
	}

	a.button:hover {
		background: black;
		color: white;
	}

	h1,h2,h3,h4,h5,p,a {
		margin: 0;
		padding: 0;
	}

	a {
		color: black;
	}
	
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
